workflows/Learn n8n basics in 3 easy steps.json
{
  "name": "Learn n8n basics in 3 easy steps ✨",
  "nodes": [
    {
      "parameters": {
        "content": "## ... now let's schedule it ⏰\n\n1. Double-click “Schedule” to set when it runs\n\n2. Connect your Gmail and set the recepient\n\n3. To test, click “Execute workflow” on \nthe \"Schedule\" node",
        "height": 208,
        "width": 1072,
        "color": 7
      },
      "id": "6afe59b0-3831-41b8-9695-6df1a06db357",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1320,
        656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "",
        "height": 208,
        "width": 230,
        "color": 3
      },
      "id": "81da8e9a-d788-4eed-8921-793fd151e235",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2189,
        656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "a5896683-74a7-4f3b-98dc-90bb114e030e",
      "name": "Schedule me here",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1584,
        704
      ],
      "notesInFlow": true,
      "typeVersion": 1.2,
      "notes": "Double-click to set!"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa43a283-e401-46e3-bf3c-9cc7fb7dae2f",
              "name": "quote",
              "type": "string",
              "value": "={{ $json.q }}"
            },
            {
              "id": "c16964d2-b6a6-40d4-a4d2-bef0760d0d26",
              "name": "author",
              "type": "string",
              "value": "={{ $json.a }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d5a71108-ff33-4214-9662-510d9d30adfc",
      "name": "Results",
      "type": "n8n-nodes-base.set",
      "position": [
        2032,
        704
      ],
      "notesInFlow": true,
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "https://zenquotes.io/api/random",
        "options": {}
      },
      "id": "040cbede-4df2-4fed-98c2-b94e21a46e1b",
      "name": "Get quote",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1808,
        704
      ],
      "notesInFlow": true,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "subject": "Daily quote",
        "emailType": "text",
        "message": "=Hey,\n\nHere's a quote by {{ $json.author }}:\n\n\"{{ $json.quote }}\"",
        "options": {}
      },
      "id": "41b56311-e6b1-4b57-9178-47ed568550d3",
      "name": "Connect your Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2256,
        704
      ],
      "webhookId": "83a06a0c-4824-44ea-b593-18917e1b3fe4",
      "notesInFlow": true,
      "typeVersion": 2.1,
      "notes": "Double-click here to connect!"
    },
    {
      "parameters": {
        "content": "",
        "height": 208,
        "width": 198,
        "color": 3
      },
      "id": "f420d59b-e48e-4fcc-8d0b-46c3e08691f8",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1533,
        656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🚀🚀 Start here 🚀🚀\n\n1. Click “Execute workflow” to run it\n\n2. This gets a random quote from the internet\n\n3. Double-click the last node to check what\nquote you got\n",
        "height": 208,
        "width": 1088,
        "color": 7
      },
      "id": "bf3a33cd-12b0-49a4-b080-ffc0123b1d86",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1312,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "922cbf37-d1ec-47dd-8da5-00a793acb865",
      "name": "1. Click 'Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        1584,
        480
      ],
      "notesInFlow": false,
      "typeVersion": 1,
      "notes": "\n"
    },
    {
      "parameters": {
        "url": "https://zenquotes.io/api/random",
        "options": {}
      },
      "id": "e0cb3ca0-3b1a-46dd-80f1-820c42253eb1",
      "name": "2. Get inspirational quote from the internet",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1808,
        480
      ],
      "notesInFlow": true,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa43a283-e401-46e3-bf3c-9cc7fb7dae2f",
              "name": "quote",
              "type": "string",
              "value": "={{ $json.q }}"
            },
            {
              "id": "c16964d2-b6a6-40d4-a4d2-bef0760d0d26",
              "name": "author",
              "type": "string",
              "value": "={{ $json.a }}"
            }
          ]
        },
        "options": {}
      },
      "id": "834bdbc9-b4fd-4148-ab17-ccd03f0df78f",
      "name": "3. See the resutls",
      "type": "n8n-nodes-base.set",
      "position": [
        2032,
        480
      ],
      "notesInFlow": true,
      "typeVersion": 3.4,
      "notes": "Double-click to open!"
    },
    {
      "parameters": {
        "content": "",
        "height": 208,
        "width": 198,
        "color": 3
      },
      "id": "7103e58c-f0d5-47b2-847d-e1ad4fa2babf",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1533,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ❓ How about a joke...\n\n1. Execute this workflow\n\n2. Check out the new \"Programming Joke\"\n\n3. Try mapping the new results and add them to\nyour email",
        "height": 224,
        "width": 1520,
        "color": 7
      },
      "id": "cbf21625-4402-4dc7-aa54-f6f066eec4a1",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1208,
        864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "",
        "height": 224,
        "width": 198,
        "color": 3
      },
      "id": "889994c7-9c3c-4621-ac6b-25e9cc421b3e",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2205,
        864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://zenquotes.io/api/random",
        "options": {}
      },
      "id": "462852ad-c8f2-41df-84a7-81312dd164db",
      "name": "Quote",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1808,
        928
      ],
      "notesInFlow": true,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "monthsInterval": 12,
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "20922230-6081-40c8-874c-f1233197981f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1584,
        928
      ],
      "notesInFlow": true,
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57322775-a00d-47f5-9424-3188ca2e46e6",
              "name": "author",
              "type": "string",
              "value": "="
            },
            {
              "id": "1b141196-bc29-49d9-9e10-78bf17975cee",
              "name": "quote",
              "type": "string",
              "value": "="
            },
            {
              "id": "b33e5122-1419-4bae-bfd5-0d5fb22a95f2",
              "name": "joke",
              "type": "string",
              "value": "="
            }
          ]
        },
        "options": {}
      },
      "id": "fd47d950-393a-4868-bc49-15f9c980b92c",
      "name": "Map the fields",
      "type": "n8n-nodes-base.set",
      "position": [
        2256,
        928
      ],
      "notesInFlow": true,
      "typeVersion": 3.4,
      "notes": "Double-click to set!"
    },
    {
      "parameters": {
        "url": "=https://v2.jokeapi.dev/joke/Programming?blacklistFlags=nsfw,religious,political,racist,sexist,explicit&type=single",
        "options": {}
      },
      "id": "f3a0621c-f38b-44e2-a050-a41b69a6013a",
      "name": "Programming joke",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2032,
        928
      ],
      "notesInFlow": true,
      "typeVersion": 4.2,
      "notes": "Check out after running!"
    },
    {
      "parameters": {
        "content": "# Step 1",
        "height": 544,
        "width": 1936,
        "color": 5
      },
      "id": "9b757817-0814-4c6a-9eaa-05be267551c5",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        888,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Step 2",
        "height": 560,
        "width": 2144,
        "color": 5
      },
      "id": "e14ed37d-df25-45dc-82dd-e5c5a1c30bd4",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Step 3",
        "height": 560,
        "width": 2400,
        "color": 5
      },
      "id": "c13b3f0b-dfa5-46f0-addf-afad6a258ca0",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n### Click + to add Gmail",
        "height": 224,
        "width": 214,
        "color": 3
      },
      "id": "f0c94de0-f3ab-4be2-b257-6fa50f400482",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2496,
        1680
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Quote": {
      "main": [
        [
          {
            "node": "Programming joke",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Results": {
      "main": [
        [
          {
            "node": "Connect your Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get quote": {
      "main": [
        [
          {
            "node": "Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map the fields": {
      "main": [
        []
      ]
    },
    "Programming joke": {
      "main": [
        [
          {
            "node": "Map the fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule me here": {
      "main": [
        [
          {
            "node": "Get quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Click 'Execute workflow’": {
      "main": [
        [
          {
            "node": "2. Get inspirational quote from the internet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Get inspirational quote from the internet": {
      "main": [
        [
          {
            "node": "3. See the resutls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d6bf26ea-6353-4a3c-97ec-042da87927ff",
  "meta": {
    "templateId": "8527",
    "instanceId": "c2a38bebfa6d8ff50d6d4f5f475ad3405a48bbe77ccbf08df6e10ac587bc647c"
  },
  "id": "KUkypoWf5aMcNwjuiqSPG",
  "tags": []
}